<div class="mx-auto md:w-2/3 w-full mb-4">
  <div class="max-w-xl mx-auto">
    <h1 class="font-bold text-4xl text-center mt-4">Editando funcionário</h1>

    <%= render "form", employee: @employee %>

    <%= link_to "Mostrar funcionário", @employee, class: "rounded-lg py-2 px-4 bg-blue text-white inline-block font-medium cursor-pointer" %>
    <%= link_to "Voltar", employees_path, class: "rounded-lg py-2 px-4 bg-blue text-white inline-block font-medium cursor-pointer" %>
  </div>
</div>
