<div class="mx-auto md:w-2/3 max-w-2xl my-4">
  <h1 class="text-4xl font-geinst text-center">Editando cargo</h1>

  <%= render "form", position: @position %>

  <%= link_to "Mostrar", @position, class: "ml-2 rounded-lg py-3 px-5 bg-blue text-white inline-block font-medium" %>
  <%= link_to "Voltar", positions_path, class: "ml-2 rounded-lg py-3 px-5 bg-blue text-white inline-block font-medium" %>
</div>
