<h1>Bem vindo ao site de gerenciamento de funcionários da prefeitura!</h1>
<p>Seu cadastro foi realizado com sucesso! Por motivos de segurança, aqui está a sua senha temporária: </p>

<h2> <%= @user.password %> </h2>

<p>Após logado você poderá trocar para uma senha de sua preferência, se assim quiser, diretamente em "Editar usuário".</p>

<p>Clique <strong><%= link_to "aqui", new_user_session_url %></strong> para ser direcionado para a página de login.</p>