<div class="mx-auto md:w-2/3 max-w-2xl my-5">
  <h1 class="font-bold font-geinst text-center text-2xl">Adicionar novo departamento</h1>

  <%= render "form", department: @department %>

  <%= link_to "Voltar", departments_path, class: "ml-2 rounded-lg py-3 px-5 bg-blue text-white inline-block font-medium" %>
</div>
