<div class="mx-auto md:w-2/3 max-w-2xl my-5">
  <h1 class="font-geinst text-center text-xl">Informações do departamento</h1>

  <%= render @department %>

  <%= link_to "Editar departamento", edit_department_path(@department), class: "mt-2 rounded-lg py-3 px-5 bg-blue text-white inline-block font-medium" %>
  <%= link_to "Voltar", departments_path, class: "ml-2 rounded-lg py-3 px-5 bg-blue text-white inline-block font-medium" %>
  <div class="inline-block ml-2">
    <%= button_to "Deletar departamento", @department, method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-blue text-white font-medium" %>
  </div>
</div>
