<div class="mx-auto text-center">
  <h1 class="font-bold text-4xl">Bem-vindo!</h1>
  <div class="flex pt-4 space-x-6">
    <div>
      <p class="text-lg">Já tem uma conta?</p>
      <strong><%= link_to "Entrar", new_user_session_path, class: "btn btn-primary" %></strong>
    </div>
    <div>
      <p class="text-lg">Ainda não tem uma conta?</p>
      <strong><%= link_to "Cadastrar-se", new_user_registration_path, class: "btn btn-secondary" %></strong>
    </div>
  </div>
</div>
