<div>
  <h1 class="font-bold text-4xl">Bem-vindo!</h1>
  <p>Já tem uma conta?</p>
  <%= link_to "Entrar", new_user_session_path, class: "btn btn-primary" %>
  <p>Ainda não tem uma conta?</p>
  <%= link_to "Cadastrar-se", new_user_registration_path, class: "btn btn-secondary" %>
</div>
